// FIRST SECTION
.sect1 {
    padding: 4% 0;
    display: flex;
    justify-content: space-between;
}

.collection {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

// BIIIG STRUGGLE WITH POSITION:ABSOLUTE HERE

.collection-pic {
    width: 100%;
    position: relative;

    img {
    width: 100%;
    position: absolute;
    top: -150px;
    box-shadow: 16px 16px $turquoise;
    }
}

.collection-text {
    background-color: $dark-green;
    color: $white;
    width: 102%;
    margin-top: 38%;
    padding: 12% 6% 12% 14%;
    border-right: 11px solid $turquoise;
    border-bottom: 11px solid $turquoise;

    h2 {
        margin: 0;
        padding-top: 5%;
    }
}

.date {
    color: $pale-blue;
    margin: 1% 0;
}

aside {
    background-color: $dark-green;
    color: $white;
    border-left: 10px solid $dark-green;
    width: 30%;
    margin: 20% 0 25% 0;
}

.aside-pic {
    width: 100%;
    height: 30vh;
    position: relative;

    img {
        width: 100%;
        position: absolute;
        bottom: -50px;
        box-shadow: -10px 10px $dark-green;
    }
}

.aside-text {
    padding-top: 8%;
    padding-left: 3%;

    h3 {
        margin: 0;
        padding-top: 8%;
    }

    p,
    ul {
        width: 90%;
        margin: 1% 0;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

.mission a:hover,
.recent a:hover {
    color: $pale-blue;
}
// END OF FIRST SECTION
// SECOND SECTION
.comment-section {
   width: 60%;
   padding: 0 0 5% 0;

   h3 {
       margin: 1%;
       color: $black;
   }
}

.comment1,
.comment2 {
    display: flex;
    margin: 5% 0 10% 0;

    img {
        margin: 10px 40px 10px 0;
    }

    p {
        margin: 2px;
    }
}

.comment-text p:first-child {
    color: $dark-blue;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}