// ADJUSTING CONTACT BOX AND INFO DIV
.contact-section {
    padding: 3% 0 5% 0;
}
.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 2% 0 5% 0;
}

.sub-container {
    width: 70%;
    position: relative;
}

.submit-box {
    position: absolute;
    bottom: 1%;
    left: 5%;
}

.contact-info {
    width: 22%;
    margin-right: 5%;
    padding: 2%;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-between;
}

.icons {
    display: flex;
    flex-wrap: wrap;
}

.icons a {
    margin-right: 9%;
    color: $dark-blue;

    &:last-child {
        color: $black;
        text-decoration: none;
    }

    &:hover {
        color: $turquoise;
    }
}

.fa {
    font-size: 1.3rem;
}

.contact-email {
    margin-top: 5%;
}