// FORM BOXES FOR BLOG AND CONTACT PAGE
.comment-box {
    color: $dark-blue;
    width: 100%;
    padding: 0;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    textarea {
        color: $dark-blue;
        background-color: $pale-blue;
        border: 2px solid $turquoise;
        width: 100%;
        resize: none;
        margin: 5% 0;
        padding: 4% 0 0 4%;
    }

    button {
        width: 100%;
        margin: 2% 0;
        padding-bottom: 2%;
    }
}

.name-box,
.email-box {
    display: flex;
    flex-direction: column;
    width: 47%;

    label {
        margin: 3% 0 0 4%;
    }

    input {
        background-color: $pale-blue;
        border: none;
        border-bottom: 2px solid $turquoise;
    }
}

.submit-box {
    background-color: $dark-green;
    color: $white;
    box-shadow: 18px 18px $turquoise;
    width: 90%;
    padding: 5% 6% 3% 6%;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    textarea {
        color: $white;
        background-color: $dark-green;
        border: 2px solid $turquoise;
        resize: none;
        margin: 4% 0;
        padding: 4% 0 0 4%;
    }

    button {
        width: 100%;
        margin: 2% 0;
    }
}

.name-box2,
.email-box2 {
    display: flex;
    flex-direction: column;
    width: 47%;

    label {
        margin: 3% 0 0 4%;
    }

    input {
        background-color: $dark-green;
        border: none;
        border-bottom: 2px solid $turquoise;
    }
}