// MEDIA QUERIES
// FIRST BREAK POINT
@media(max-width: 1100px) {
    // HOME PAGE
    .learn-box {
        margin: 5% 2%;
        padding: 8% 5%;

    img {
            margin: 2% 5% 0 0;
        }
    }

    .box {
         margin: 10px;
         width: calc(100% / 2 - 20px);
    }
    // HOME PAGE DONE
    // BLOG PAGE
    aside {
        width: 40%;
        margin: 15% 0 60% 0;
    }

    .aside-text {
        padding: 10% 0 0 3%;
    }

    .comment-section {
        width: 100%;
    }
    // BLOG PAGE DONE
    // CONTACT PAGE
    .container {
        width: 90%;
        flex-direction: column;
    }

    .sub-container {
        width: 100%;
        margin: 0 4%;
    }

    .submit-box {
        position: static;
    }

    .contact-info {
        width: 40%;
        padding: 5%;
        margin: 0 auto;
    }
}
// CONTACT PAGE DONE

// SECOND BREAK POINT
@media(max-width: 800px) {
    // HOME PAGE
    header {
        height: 30vh;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .scissors {
       display: none;
    }

    .home-about {
        margin: -50% 0 2% 0;
        padding: 2%;
    }

    .learn-box {
        margin: 0;
        padding: 0;
    }

    .boxes {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .bottom-boxes {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .discover,
    .locations {
        width: 100%;
        text-align: center;
        margin: 1%;

        p {
            margin: 1%;
        }

        button {
            margin-top: 3%;
        }
    }

    .pink-silk,
    .yellow-tape {
        width: 90%;
        margin: 0;
    }

    .pink-silk img,
    .yellow-tape img {
        position: static;
        width: 100%;
        box-shadow: none;
    }
}
    // HOME PAGE DONE
    // BLOG PAGE
    .sect1 {
        flex-direction: column;
        padding-top: 0%;
    }

    .collection {
        width: 100%;
        background-color: $dark-green;
        padding: 0;
    }

    .collection-pic img {
        position: static;
        box-shadow: none;
    }

    .collection-text {
        width: 100%;
        margin: 0 auto;
        padding: 5%;
        border: none;

        h2 {
            padding-top: 1%;
        }
    }

    aside {
        width: 100%;
        margin: 0 auto;
        padding: 2% 0;
        border: none;
        display: flex;
    }

    .aside-pic {
        width: 60%;
        height: 20vh;
        margin: 3%;
        position: static;
    }
    .aside-pic img {
        position: static;
        box-shadow: none;
        object-fit: contain;
    }

    .aside-text {
        padding: 0 2%;
        margin: 0 2%;
        text-align: center;

        h3 {
            padding-top: 1%;
        }
    }
    // BLOG PAGE DONE
    // CONTACT PAGE
    .sub-container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .submit-box {
        box-shadow: none;
    }
    // CONTACT PAGE DONE
    // FINAL BREAK POINT
    @media(max-width: 550px) {
    // HOME PAGE
    nav ul {
        overflow: hidden;
        display: none;
    }

    nav .fas {
        visibility:visible;
        margin: auto;
    }
    
    .learn-box {
        flex-direction: column;
        padding: 1% 0;
    }
    .learn-text {
        padding: 1%;
        text-align: center;
        margin: 0;
        padding-bottom: 2%;

        h2 {
            margin: 0;
            padding-bottom: 2%;
        }
    }

    .learn-pic {
        width: 100%;

        img {
            width: 100%;
            box-shadow: none;
        }
    }

    .gallery-box {
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
        }
    }
    // HOME PAGE DONE
    // BLOG PAGE
    aside {
        flex-direction: column;
        padding: 2%;
    }

    .aside-pic,
    .aside-pic img {
        display: none;
        height: 0px;
    }

    .aside-text {
        margin: 0 auto;
    }

    .comment-box {
       display: flex;
       flex-direction: column;
    }
    // BLOG PAGE DONE
    // CONTACT PAGE
    .submit-box {
        display: flex;
        flex-direction: column;
    }

    .name-box,
    .email-box,
    .name-box2,
    .email-box2 {
        width: 100%;
    }

    .contact-info {
        width: 70%;
        text-align: center;

        a {
            margin: 0 auto;
            padding: 3%;
        }
    }

    .contact-email {
        margin: 0 auto;
    }
}