nav {
    width: 100%;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;

    .logo {
        font-family: $main-font;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 24px;
        letter-spacing: 1.7px;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        width: 100%;
    }

    // H1 KEPT MOVING WHEN I HOVERED ON LI ELEMENTS. I TRIED TO ADD PADDING AND BOX-SIZING DIRECTLY ON LI, A, AND HOVER TO NO AVAIL. I ADDED A TRANSPARENT BORDER TO LI TO STOP THE SHIFTING
    li {
        text-transform: uppercase;
        list-style: none;
        margin: 0 20px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }

    a {
        text-decoration: none;
        color: $black;
    }
}

ul li a {
    color: $dark-blue;
}

nav li:hover,
.logo:hover {
    border-bottom: 2px solid $turquoise;
}

.fas {
        color: $dark-blue;
        font-size: 1.6rem;
        visibility: hidden;
    }

    .fas:hover {
        color: $turquoise;
    }

.burger-nav {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.burger-button {
    display: flex;
    visibility: hidden;
    background-color: rgba($color: $pale-blue, $alpha: 0.5);
}