nav {
    width: 100%;
    padding-top: 2%;
    display: flex;

    .logo {
        font-family: $main-font;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 24px;
        letter-spacing: 1.7px;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        width: 100%;
    }

    li {
        text-transform: uppercase;
        list-style: none;
        margin: 0 20px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }

    a {
        text-decoration: none;
        color: $black;
    }
}

ul li a {
    color: $dark-blue;
}

nav li:hover,
.logo:hover {
    border-bottom: 2px solid $turquoise;
}

// HAMBURGER MENU
.hamburger {
    cursor: pointer;
    display: none;
    border: 1px solid $turquoise;
    border-radius: 5px;
    background-color: white;
    margin: 1%;
    padding-right: 2%;
    padding-left: 2%;
}

.hamburger:hover,
.hamburger:focus {
    background-color: white;
    border: 1px solid $turquoise;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: $turquoise;
    margin: 5px;
    transition: all 0.5s ease;
}

// MEDIA QUERIES
@media(max-width: 800px) {
    nav {
        padding-top: 2%;
        justify-content: space-between;
    }

    .menu-hide {
        position: fixed;
        left: -100%;
        top: 3.2rem;
        flex-direction: column;
        width: 100%;
        background-color: rgba(246, 245, 245, 0.9);
        text-align: center;
        transition: 0.5s ease-in-out;

        li {
            margin: 1rem;
        }
    }

    .menu-hide.active {
        left: 0;
    }

    .hamburger {
        display: block;
        text-align: end;
    }

    .active .line-one {
    transform: rotate(-45deg) translate(-5px,6px);
    background-color: $turquoise;
}

.active .line-two {
    opacity: 0;
}

.active .line-three {
    transform: rotate(45deg) translate(-5px,-6px);
    background-color: $turquoise;
}
}