$pale-blue: #CCEDFB;
$dark-green: rgb(40, 63, 77);
$turquoise: #0CADC0;
$dark-blue: #1A315C;
$black: #1E1713;
$white: #FFF;
$main-font: "Pacifico", cursive;
$p-font: "Lato", sans-serif;

@import "normalize";
@import "typography";
@import "nav";
@import "home-page";
@import "blog-page";
@import "forms";

.home-header {
    background-image: url(../assets/header-home.jpg);
    height: 106vh;
}

.blog-header {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 73vh;
}

.contact-header {
    background-image: url(../assets/contact-header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 74vh;
}