html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 28px;
  letter-spacing: 2px;
  color: #1E1713;
  background-color: #CCEDFB;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Pacifico", cursive;
  font-weight: normal;
  color: #1A315C;
  font-size: 3.4rem;
  line-height: 64px;
}

.home-header h1 {
  font-size: 2.9rem;
  line-height: 68px;
  width: 60%;
  margin: 7% 0;
}

.blog-header h1,
.contact-header h1 {
  padding: 8% 0;
}

h2 {
  font-size: 2.2rem;
  line-height: 58px;
  letter-spacing: 2.7px;
}

.collection h2 {
  color: #FFF;
}

h3,
.bottom-boxes h2 {
  font-size: 2rem;
  line-height: 58px;
  letter-spacing: 2.5px;
  color: #FFF;
}

button,
.dark-button {
  font-family: "Pacifico", cursive;
  font-size: 1.3rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1.4px;
  background-color: #1A315C;
  color: #FFF;
  border: none;
  margin: 0;
  padding: 6px 35px;
}
button:hover,
.dark-button:hover {
  background-color: #FFF;
  color: #1A315C;
}

.pale-button {
  background-color: #c5d4f4;
  color: #1A315C;
}
.pale-button:hover {
  background-color: #FFF;
}

footer {
  background-color: #1E1713;
  text-align: center;
  margin: 0;
  padding: 10px;
}
footer p {
  color: #FFF;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 1.8px;
  margin: 5px;
}

nav {
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .logo {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 1.7px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  width: 100%;
}
nav li {
  text-transform: uppercase;
  list-style: none;
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: #1E1713;
}

nav li:hover,
.logo:hover {
  border-bottom: 2px solid #0CADC0;
}

.learn-box {
  width: 100%;
  padding: 15% 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.learn-text {
  width: 70%;
  margin-right: 8%;
}
.learn-text h2 {
  margin-bottom: 15px;
}
.learn-text p {
  margin-top: 0;
  margin-bottom: 30px;
}

.learn-pic img {
  width: 260px;
  -webkit-box-shadow: -14px 14px #0CADC0;
          box-shadow: -14px 14px #0CADC0;
}

.gallery {
  background-color: #283f4d;
  padding: 5% 0;
}

.gallery-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery-box img {
  margin: 12px;
  width: calc(100% / 3 - 24px);
}

.boxes {
  padding: 4% 0;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  position: relative;
  width: calc(100% / 2);
}
.box a {
  text-decoration: none;
}
.box h2:hover {
  color: #0CADC0;
}

.icon-box {
  position: absolute;
  top: 52px;
  left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  background-color: #0CADC0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.bottom-section {
  background-color: #283f4d;
}

.bottom-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pink-silk,
.yellow-tape,
.discover,
.locations {
  width: 45%;
}
.pink-silk img,
.yellow-tape img,
.discover img,
.locations img {
  width: 100%;
}
.pink-silk h3,
.yellow-tape h3,
.discover h3,
.locations h3 {
  padding-top: 5px;
  margin: 5px 0;
}

.discover {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 40px 0 110px 0;
}
.discover p {
  color: #FFF;
  margin: 5px 74px 14px 0;
}

.locations {
  text-align: end;
  padding: 40px 0 80px 0;
}
.locations p {
  color: #FFF;
  margin: 5px 0px 14px 74px;
}

.pink-silk {
  position: relative;
}
.pink-silk img {
  position: absolute;
  top: -60px;
  -webkit-box-shadow: 20px 20px #0CADC0;
          box-shadow: 20px 20px #0CADC0;
}

.yellow-tape {
  position: relative;
}
.yellow-tape img {
  position: absolute;
  top: 20px;
  -webkit-box-shadow: -20px 20px #0CADC0;
          box-shadow: -20px 20px #0CADC0;
}

.banner {
  height: 60vh;
  background-image: url(../../project-01/assets/banner.jpg);
}

.bottom-home {
  padding: 30px 0 100px 0;
  text-align: center;
}
.bottom-home h3 {
  color: #1A315C;
  margin-bottom: 5px;
}
.bottom-home button {
  margin: 25px;
}

.sect1 {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.collection-pic {
  width: 100%;
  position: relative;
}
.collection-pic img {
  width: 100%;
  position: absolute;
  top: -150px;
  -webkit-box-shadow: 16px 16px #0CADC0;
          box-shadow: 16px 16px #0CADC0;
}

.collection-text {
  background-color: #283f4d;
  color: #FFF;
  width: 102%;
  margin-top: 300px;
  padding: 90px 40px 60px 120px;
  border-right: 11px solid #0CADC0;
  border-bottom: 11px solid #0CADC0;
}
.collection-text h2 {
  margin: 0;
  padding-top: 30px;
}

.date {
  color: #CCEDFB;
  margin: 6px 0;
}

aside {
  background-color: #283f4d;
  color: #FFF;
  border-left: 10px solid #283f4d;
  width: 30%;
  margin: 300px 0 350px 0;
}

.aside-pic {
  width: 420px;
  height: 200px;
  position: relative;
}
.aside-pic img {
  width: 100%;
  position: absolute;
  bottom: -50px;
  -webkit-box-shadow: -10px 10px #283f4d;
          box-shadow: -10px 10px #283f4d;
}

.aside-text {
  padding-top: 35px;
  padding-left: 12px;
}
.aside-text h3 {
  margin: 0;
  padding-top: 30px;
}
.aside-text p,
.aside-text ul {
  margin: 2px;
}
.aside-text a {
  color: #FFF;
  text-decoration: none;
}

.mission a:hover,
.recent a:hover {
  color: #CCEDFB;
}

.comment-section {
  width: 60%;
  padding: 0 0 80px 0;
}
.comment-section h3 {
  margin: 5px;
  color: #1E1713;
}

.comment1,
.comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 70px 0;
}
.comment1 img,
.comment2 img {
  margin: 10px 40px 10px 0;
}
.comment1 p,
.comment2 p {
  margin: 2px;
}

.comment-text p:first-child {
  color: #1A315C;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.contact-section {
  padding: 50px 0 70px 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 90px 0;
}

.sub-container {
  position: relative;
}

.submit-box {
  position: absolute;
  bottom: -40px;
  left: 50px;
}

.contact-info {
  width: 22%;
  margin-right: 35px;
  padding: 30px;
  color: #1E1713;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icons a {
  margin-right: 9%;
  color: #1A315C;
}
.icons a:last-child {
  color: #1E1713;
  text-decoration: none;
}
.icons a:hover {
  color: #0CADC0;
}

.fa {
  font-size: 1.3rem;
}

.contact-email {
  margin-top: 5%;
}

.comment-box {
  color: #1A315C;
  width: 100%;
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.comment-box textarea {
  color: #1A315C;
  background-color: #CCEDFB;
  border: 2px solid #0CADC0;
  resize: none;
  margin: 30px 0;
  padding: 30px 0 0 30px;
}
.comment-box button {
  width: 100%;
  margin: 10px 0;
  padding-bottom: 10px;
}

.name-box,
.email-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47%;
}
.name-box label,
.email-box label {
  margin: 10px 0 0 15px;
}
.name-box input,
.email-box input {
  background-color: #CCEDFB;
  border: none;
  border-bottom: 2px solid #0CADC0;
}

.submit-box {
  background-color: #283f4d;
  color: #FFF;
  -webkit-box-shadow: 18px 18px #0CADC0;
          box-shadow: 18px 18px #0CADC0;
  width: 60%;
  padding: 50px 60px 40px 60px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.submit-box textarea {
  color: #FFF;
  background-color: #283f4d;
  border: 2px solid #0CADC0;
  resize: none;
  margin: 30px 0;
  padding: 30px 0 0 30px;
}
.submit-box button {
  width: 100%;
  margin: 10px 0;
}

.name-box2,
.email-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47%;
}
.name-box2 label,
.email-box2 label {
  margin: 10px 0 0 15px;
}
.name-box2 input,
.email-box2 input {
  background-color: #283f4d;
  border: none;
  border-bottom: 2px solid #0CADC0;
}

.home-header {
  background-image: url(../assets/header-home.jpg);
  height: 106vh;
}

.blog-header {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 73vh;
}

.contact-header {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 74vh;
}